@tailwind base;
@tailwind components;
@tailwind utilities;

/* For hiding the vertical scrollbar */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* For hiding the horizontal scrollbar */
 ::-webkit-scrollbar {
    height: 0;
  }
  
  /* For hiding both vertical and horizontal scrollbars */
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  /* Make the scrollbar transparent (if it's still visible) */
 ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  /* Default styles for larger screens */



  #custom-input-id::placeholder {
    color: gray !important;
  }
  .custom-select .ant-select-selection-placeholder {
    color: gray !important; /* Use !important if necessary */
  }
  /* slider brand */
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-120%);
    }
  }

  .logo-slides{
    animation: 8s slide infinite linear;

  }
  
  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  